## Prerequisites:

### Setting up the database.

Install *mysql-connector-python* if necessary.

In [1]:
#!pip install mysql-connector-python

 #### Importing packages

In [56]:
import mysql.connector as connector
from mysql.connector import errorcode
print("MySQL Connector/Python API has imported sucessfully.")

MySQL Connector/Python API has imported sucessfully.

#### Establishing a connection

In [57]:
#Establishing a connection between MySQL database and Python via the connecotr API.

print("Establishing a new connection between the MySQL database and Python...")


try:
    connection = connector.connect(
                                   user = "root",
                                   password = "password",
                                  )
    
    print("A connection between the MySQL database and Python has been sucessfully established.")
    
    
except connector.Error as error:
    
    if error.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Connection User or Password incorrect")
    elif error.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print("Error code:", error.errno)
        print("Error message:", error.msg)

Establishing a new connection between the MySQL database and Python...
A connection between the MySQL database and Python has been sucessfully established.

#### Creating a cursor

In [58]:
#Creating a cursor object to communicate with the MySQL database.
cursor = connection.cursor()

#### Creating the database and setting it for use

In [59]:
#Creating the database. If it exists, it will be dropped and recreated.

try:
    cursor.execute("""CREATE DATABASE little_lemon_db""")

except:
    cursor.execute("""DROP DATABASE little_lemon_db""")
    cursor.execute("""CREATE DATABASE little_lemon_db""")
    cursor.execute("""USE little_lemon_db""")
    
print("The database little_lemon_db has been created and set for use.")

The database little_lemon_db has been created and set for use.

#### Creating tables
- Menu items table
- Menu table
- Booking table
- orders table
- Employee table

In [60]:

cursor.execute("""USE little_lemon_db""")
#Creating the menu items table.
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""


#Creating the menu table.
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

#Creating the booking table.
create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

#Creating the orders table.
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

#Creating the employees table.
create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR(255),
Role VARCHAR(255),
Address VARCHAR(255),
Contact_Number INT,
Email VARCHAR(255),
Annual_Salary VARCHAR(50)
);"""

In [61]:
# Create MenuItems table
cursor.execute(create_menuitem_table)
print("The menu items table has been created.")

# Create Menu table
cursor.execute(create_menu_table)
print("The menu table has been created.")

# Create Bookings table
cursor.execute(create_booking_table)
print("The bookings table has been created.")

# Create Orders table
cursor.execute(create_orders_table)
print("The orders table has been created.")

# Create Employees table
cursor.execute(create_employees_table)
print("The employees table has been created.")

The menu items table has been created.
The menu table has been created.
The bookings table has been created.
The orders table has been created.
The employees table has been created.

#### Inserting data into tables

In [62]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724 Parsley Lane, Old Town, Chicago, IL', 351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334 Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [63]:
# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()
print("The menu items data has been successfully inserted.")

# Populate Menu table
cursor.execute(insert_menu)
connection.commit()
print("The menu data has been successfully inserted.")

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()
print("The booking data has been successfully inserted.")

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()
print("The orders data has been successfully inserted.")

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()
print("The employee data has been successfully inserted.")

The menu items data has been successfully inserted.
The menu data has been successfully inserted.
The booking data has been successfully inserted.
The orders data has been successfully inserted.
The employee data has been successfully inserted.

# Task 1: Creating and establishing the connection pool.

In [64]:
from mysql.connector.pooling import MySQLConnectionPool

#database configuration
dbconfig = {
    "database":"little_lemon_db",
    "user":"root",
    "password":"password"
}

try:
    pool = MySQLConnectionPool(pool_name = "pool_a",
                               pool_size = 2,
                                **dbconfig
                              )
    print("The connection pool \"{}\" has been created.".format(pool.pool_name))
    print("The pool size is:", pool.pool_size)


except:
    print("Error Code:", Error.errno)
    print("Error message:", Error.msg)

The connection pool "pool_a" has been created.
The pool size is: 2

In [65]:

#Establishing a connection to the connection pool "pool_a".
print("Establishing the connection to \"{}\".".format(pool.pool_name))

connection_a = pool.get_connection()
print("A user with connection id \"{}\" is connected to the database.".format(connection_a.connection_id))


#Creating the cursor object to communicate with the entire MySQL database.
print("Creating the cursor object: \"cursor_a\"")
cursor_a = connection_a.cursor()

Establishing the connection to "pool_a".
A user with connection id "18" is connected to the database.
Creating the cursor object: "cursor_a"

# Task 2: Creating the "PeakHours" procedure.

*Via the connection pool "pool_a"*

In [66]:
#Dropping the procedure if it already exists.
cursor_a.execute("""DROP PROCEDURE IF EXISTS PeakHours""")


#Creating the stored "PeakHours" procedure.
peak_hours = """CREATE PROCEDURE PeakHours()
                BEGIN
                SELECT
                HOUR(BookingSlot) AS BookingSlotHour, COUNT(HOUR(BookingSlot)) AS NumberOfBookingSlots
                FROM Bookings
                GROUP BY HOUR(BookingSlot)
                ORDER BY COUNT(HOUR(BookingSlot)) DESC;
                END
                """

#Executing the Query.
cursor_a.execute(peak_hours)

#Calling the stored procedure with its name.
cursor_a.callproc("PeakHours")

#Fetching and storing the results.
peakhour_results = next(cursor_a.stored_results())
peakhour_dataset = peakhour_results.fetchall()

#Retrieving the column names.
for column_id in cursor_a.stored_results():
    cols = [column[0] for column in column_id.description]

#Printing the column names.   
print(cols)

#printing the data points (hours and respective number of hours counted).
for data in peakhour_dataset:
    print(data)

['BookingSlotHour', 'NumberOfBookingSlots']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

# Task 3: Creating the "GuestStatus" procedure.
*Via the connection pool "pool_a".*

In [67]:
#Dropping the procedure if it already exists.
cursor_a.execute("""DROP PROCEDURE IF EXISTS GuestStatus""")

#Creating the "GuestStatus" procedure.
guest_status = """CREATE PROCEDURE GuestStatus()
                 BEGIN
                 SELECT 
                 Bookings.BookingID, 
                 CONCAT(Bookings.GuestFirstName, " ", Bookings.GuestLastName) AS GuestName,
                 CASE 
                 WHEN Role = "Manager" THEN "Ready to pay"
                 WHEN Role = "Assistant Manager" THEN "Ready to pay"
                 WHEN Role = "Head Chef" THEN "Ready to serve"
                 WHEN Role = "Assistant Chef" THEN "Preparing Order"
                 WHEN Role = "Head Waiter" THEN "Order Served"
                 ELSE "In Queue"
                 END AS Status
                 FROM Bookings LEFT JOIN Employees ON Bookings.EmployeeID = Employees.EmployeeID;
                 END
        
              """

#Executing the Query.
cursor_a.execute(guest_status)

#Calling the stored procedure with its name.
cursor_a.callproc("GuestStatus")

#Fetching and storing the results.
gueststatus_results = next(cursor_a.stored_results())
gueststatus_dataset = gueststatus_results.fetchall()


#Retrieving the column names.
for column_id in cursor_a.stored_results():
    columns = [column[0] for column in column_id.description]

#Printing the column names.   
print(columns)

#printing the data points (BookingID, The guests full name, The status of their order).
for data in gueststatus_dataset:
    print(data)

['BookingID', 'GuestName', 'Status']
(1, 'Anna Iversen', 'Ready to pay')
(2, 'Joakim Iversen', 'Ready to pay')
(3, 'Vanessa McCarthy', 'Ready to serve')
(4, 'Marcos Romero', 'Preparing Order')
(5, 'Hiroki Yamane', 'Ready to pay')
(6, 'Diana Pinto', 'Order Served')

### Closing the initial connection and the connection pool along with their corresponding cursor objects.

The initial conneciton

In [68]:
if connection.is_connected():
    cursor.close()
    print("The initial cursor is closed.")
    connection.close()
    print("The initial connection is closed.")
else:
    print("The initial connection is already closed")

The initial cursor is closed.
The initial connection is closed.

The conneciton pool "pool_a"

In [69]:
if connection_a.is_connected():
    cursor_a.close()
    print("The pool_a cursor is closed.")
    connection_a.close()
    print("The connection_a connection is closed.")
else:
    print("The conneciton_a connection is already closed")

The pool_a cursor is closed.
The connection_a connection is closed.

# Little Lemon analysis and sales report

## Task 1: Establishing a connection pool.

In [70]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import errorcode

#database configuration
dbconfig = {
    "database":"little_lemon_db",
    "user":"root",
    "password":"password"
}

try:
    pool = MySQLConnectionPool(pool_name = "pool_b",
                               pool_size = 2, #Default is 5.
                                **dbconfig
                              )
    print("The connection pool \"{}\" has been created.".format(pool.pool_name))
    print("The pool size is:", pool.pool_size)


except connector.Error as Error:
    print("Error Code:", Error.errno)
    print("Error message:", Error.msg)

The connection pool "pool_b" has been created.
The pool size is: 2

## Task 2: Adding a third guest to the connection pool.

Connection 1.

In [71]:
import mysql.connector as connector

#Establishing a connection for 1 of 2 pool occupants.
#Establishing a connection to the connection pool "pool_b".
print("Establishing the connection to \"{}\".".format(pool.pool_name))

connection_b1 = pool.get_connection()
print("A user with connection id \"{}\" is connected to the database.".format(connection_b1.connection_id))

cursor_b1 = connection_b1.cursor()

#Inserting new data into the bookings table.
booking_1 = """INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
               VALUES
               ("8", "Anees", "Java", "18:00", 6);"""

#Executing the query.
cursor_b1.execute(booking_1)
#Commiting the change to the database.
connection_b1.commit()

print("A new booking has been added to the Bookings table")

Establishing the connection to "pool_b".
A user with connection id "20" is connected to the database.
A new booking has been added to the Bookings table

Connection 2.

In [72]:
#Establishing a connection for 2 of 2 pool occupants.
#Establishing a connection to the connection pool "pool_b".
print("Establishing the connection to \"{}\".".format(pool.pool_name))

connection_b2 = pool.get_connection()
print("A user with connection id \"{}\" is connected to the database.".format(connection_b2.connection_id))

cursor_b2 = connection_b2.cursor()

#Inserting new data into the bookings table.
booking_2 = """INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
               VALUES
               ("5", "Bald", "Vin", "19:00", 6);"""

#Executing the query.
cursor_b2.execute(booking_2)
#Commiting the change to the database.
connection_b2.commit()

print("A new booking has been added to the Bookings table")

Establishing the connection to "pool_b".
A user with connection id "21" is connected to the database.
A new booking has been added to the Bookings table

Connection 3. Adding a new connection to the connection pool.

In [73]:
#Establishing a new connection to the pool.
try:
    
    connection_b3 = pool.get_connection()
    print("Connection Successful. {} is connected.".format(connection_b3.connection_id))
    
except:
    
    print("No connection available")
    print("Creating a new connection")
    
    #Create the connection.
    connection = connector.connect(user = "root",
                                   password = "password"
                                  )
    #Add the connection into the pool.
    pool.add_connection(cnx = connection)
    print("A new connection has been added to the connection pool")

No connection available
Creating a new connection
A new connection has been added to the connection pool

In [74]:
#Establishing a connection for 3 of 3 pool occupants.
#Establishing a connection to the connection pool "pool_b".
print("Establishing the connection to \"{}\".".format(pool.pool_name))

connection_b3 = pool.get_connection()
print("A user with connection id \"{}\" is connected to the database.".format(connection_b2.connection_id))

cursor_b3 = connection_b3.cursor()

#Inserting new data into the bookings table.
booking_3 = """INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
               VALUES
               ("12", "Jay", "Kon", "19:30", 6);"""

#Executing the query.
cursor_b3.execute(booking_3)
#Commiting the change to the database.
connection_b3.commit()

print("A new booking has been added to the Bookings table")

Establishing the connection to "pool_b".
A user with connection id "21" is connected to the database.
A new booking has been added to the Bookings table

Closing the connections.

In [75]:
from mysql.connector import Error
for connection in [connection_b1, connection_b2, connection_b3]:
    try:
        connection.close()
        print("Connection has returned to the pool.")#.format(connection.connection_id))
    except Error as err:
        print("Connection cannot be returned to pool")
        print("Error message:", err.msg)

for cursors in [cursor_b1, cursor_b2, cursor_b3]:
    try:
        cursor.close()
        print("Cursor closed")
    except Error as err:
        print("Cursor cannot be closed")
        print("Error message: ", err.msg)

Connection has returned to the pool.
Connection has returned to the pool.
Connection cannot be returned to pool
Error message: Failed adding connection; queue is full
Cursor closed
Cursor closed
Cursor closed

## Task 3: Create a report.

In [76]:
#Establishing a connection to the connection pool "pool_b".
print("Establishing the connection to \"{}\".".format(pool.pool_name))

connection = pool.get_connection()
print("A user with connection id \"{}\" is connected to the database.".format(connection.connection_id))


#Creating the cursor object to communicate with the entire MySQL database.
print("Creating the cursor object")
cursor = connection.cursor(buffered = True)
print("The cursor has been created")

Establishing the connection to "pool_b".
A user with connection id "20" is connected to the database.
Creating the cursor object
The cursor has been created

Creating the report.

In [77]:
#Query obtaining required details of Little Lemon's manager.
manager_details = """SELECT 
                     Name, EmployeeID
                     FROM 
                     Employees
                     WHERE Role = "Manager";
                     """
#Query obtaining required details of Little Lemon's highest annual earner.
highest_earner_details = """SELECT 
                            Name, Role
                            FROM Employees
                            ORDER BY Annual_Salary DESC
                            LIMIT 1
                            """

#Query obtaining the number of guests booked in between the times 18:00 and 20:00.
number_of_guests = """SELECT
                      COUNT(BookingID) AS NoOfGuests
                      FROM BookiNgs
                      WHERE BookingSlot BETWEEN "18:00:00" AND "20:00:00";
                      """

#Query obtaining ordered guest list waiting to be seated. Ordered by booking slot.
guest_list = """SELECT
                Bookings.BookingID, CONCAT(Bookings.GuestFirstName, " ", Bookings.GuestLastName) AS FullName, Role
                FROM Bookings LEFT JOIN Employees 
                ON Bookings.EmployeeID = Employees.EmployeeID
                WHERE Role = "Receptionist"
                ORDER BY BookingSlot DESC;
                """


#Executing and fetching the results.
print("*------------------------------*")
print("*-----------REPORT-------------*")
print("*------------------------------*")
for i in [manager_details, highest_earner_details, number_of_guests, guest_list]:
    cursor_ = cursor.execute(i)
    results = cursor.fetchall()
    columns = cursor.column_names
    print(columns)
    for result in results:
        print(result)

*------------------------------*
*-----------REPORT-------------*
*------------------------------*
('Name', 'EmployeeID')
('Mario Gollini', 1)
('Name', 'Role')
('Mario Gollini', 'Manager')
('NoOfGuests',)
(7,)
('BookingID', 'FullName', 'Role')
(9, 'Jay Kon', 'Receptionist')
(8, 'Bald Vin', 'Receptionist')
(7, 'Anees Java', 'Receptionist')

## Task 4: BasicSalesReport

*Using the previous connections*

In [78]:

#Dropping the procedure from the database if it already exists.
cursor.execute("""DROP PROCEDURE IF EXISTS BasicSalesReport;""")

#Query containing basic sales report statistics.
basic_sales_report = """CREATE PROCEDURE BasicSalesReport()
                        BEGIN
                        
                        SELECT 
                        SUM(BillAmount) AS TotalSales,
                        CAST(AVG(BillAmount) AS DECIMAL(4,2)) AS AverageSales,
                        MIN(BillAmount) AS MinimumSale,
                        MAX(BillAmount) AS MaximumSale
                        FROM Orders;
                        END
                        """
#Executing and calling the procedure.
cursor.execute(basic_sales_report)
cursor.callproc("BasicSalesReport")

#Fetching and string results.
report_results = next(cursor.stored_results())
report_dataset = report_results.fetchall()

#Obtaining column names.
for column_id in cursor.stored_results():
    columns = [column[0] for column in column_id.description]


print("*------------------------------------------*")
print("*-----------Basic Sales Report-------------*")
print("*------------------------------------------*")

for result in report_dataset:
    print( columns[0],":",result[0])
    print(columns[1],":",result[1])
    print(columns[2],":",result[2])
    print(columns[3],":",result[3])

*------------------------------------------*
*-----------Basic Sales Report-------------*
*------------------------------------------*
TotalSales : 243
AverageSales : 48.60
MinimumSale : 37
MaximumSale : 86

Closing the connection.

In [79]:
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("The connection is closed and returned to the pool.")
else:
    print("The connection is already closed")

The cursor is closed.
The connection is closed and returned to the pool.

## Task 5: Displaying forthcoming bookings on the kitchen screen.

Establishng a connection and creating a buffered cursor.

In [87]:
#Establishing a connection to the connection pool "pool_b".
print("Establishing the connection to \"{}\".".format(pool.pool_name))

connection = pool.get_connection()
print("A user with connection id \"{}\" is connected to the database.".format(connection.connection_id))


#Creating the cursor object to communicate with the entire MySQL database.
print("Creating the cursor object")
cursor = connection.cursor(buffered = True)
print("The cursor has been created")

Establishing the connection to "pool_b".
A user with connection id "21" is connected to the database.
Creating the cursor object
The cursor has been created

In [88]:
#Query obtaining 3 guests booking data.
booking_data = """ SELECT
                   Bookings.Bookingslot, 
                   CONCAT(GuestFirstName, " ", GuestLastName) AS FullName, 
                   Employees.Name,
                   Employees.Role
                   FROM Bookings INNER JOIN Employees
                   ON Bookings.EmployeeID = Employees.EmployeeID
                   ORDER BY BookingSlot ASC
                   LIMIT 3;
                   """
#Executing the query, fetching and storing the results.
cursor.execute(booking_data)
dataset = cursor.fetchall()



#Printing the data obtained from the query to be displayed on screen.
print("*-------------------------------------------------*")
print("*-------------Order Data (3 Guests)---------------*")
print("*-------------------------------------------------*")
for result in dataset:
    print("Booking Slot: ",result[0])
    print("Guest Name: ", result[1])
    print("Host: ", result[2], "\"",result[3],"\"")

*-------------------------------------------------*
*-------------Order Data (3 Guests)---------------*
*-------------------------------------------------*
Booking Slot:  15:00:00
Guest Name:  Vanessa McCarthy
Host:  Giorgos Dioudis " Head Chef "
Booking Slot:  17:30:00
Guest Name:  Marcos Romero
Host:  Fatma Kaya " Assistant Chef "
Booking Slot:  18:00:00
Guest Name:  Anees Java
Host:  John Millar " Receptionist "

In [89]:
cursor.execute("""SELECT ADDTIME("1:00:00", "-1:00:00")""")
results=cursor.fetchall()
for result in results:
    print(result)

('00:00:00',)

In [86]:
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("The connection is closed and returned to the pool.")
else:
    print("The connection is already closed")

The cursor is closed.
The connection is closed and returned to the pool.